@keyframes float {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }

    50% {
        transform: translateY(-20px) scale(1.1);
        opacity: 0.8;
    }

    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

.animate-float {
    animation: float 2s infinite ease-in-out;
}